@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    color: #213547;
    background-color: #f7f9fc;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.slick-prev::before,
.slick-next::before {
    color: black;
}

input[type=file]::file-selector-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    --tw-border-opacity: 1;
    border-color: rgb(21 128 61 / var(--tw-border-opacity));
    border-width: 1px;
    border-radius: 0.375rem;
    cursor: pointer;
}
